@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.navbar-style {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;

}

/* logo  */
.logo {
  height: 80px;
  width: 80px;
}

.logo:hover {
  opacity: 0.5;
}

/* icons */
.nav-icon {
  height: 80px;
  width: 80px;
}

.nav-icon:hover {
  opacity: 0.5;
}
