@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  background-color: #bde0fe;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bevan {
  font-family: 'Bevan', serif;
}

.coustard {
  font-family: 'Coustard', serif;
}
